name: pudl-catalog
channels:
  - conda-forge
  - defaults
dependencies:
  # Packages required for setting up the environment
  - pip>=21,<23
  - python>=3.8,<3.11
  - setuptools<62

  # Packages that need or benefit from or provide binary conda packages
  - python-snappy>=0.6,<0.7 # Supports snappy compression in pyarrow/parquet
  - numba>=0.55.1,<0.56 # numba speeds up some kinds of math by 100x
  - google-cloud-sdk>=388

  # Jupyter packages:
  - jupyterlab>=3.2,<4
  - jupyter-resource-usage>=0.5,<0.7
  - nbconvert>=6,<7

  # Use pip to install the package defined by this repo for development:
  - pip:
      - --editable ./[dev,docs,tests]
